:root{
    --darkGray: #2f2f2f;
    --lightGray: #f6f6f6;
    --gold: #ffcb74;
    --black: #111111;
}
body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-color: var(--lightGray);
}
a{
    text-decoration: none;
    color: var(--gold);
}
#nav{
    width: 100%;
    height: 48px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--darkGray);
    
}
.sm{
    display: block;
}
.bg{
    display: none;
}
#hamburger{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    top: 5px;
}
.line{
    display: block;
    height: 3px;
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: var(--gold)/*#b95d08*/;
    width: 100%;
    border-radius: 15px;
}
#line1{
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
#line2{
    transition: transform 0.2s ease-in-out;
}
#line3{
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
#logo{
    height: fit-content; width: fit-content; position: relative; left: 20px; top: 5px;
}
#logo h1{
    color: var(--gold);
    margin: 0;
    font-family: 'Pinyon Script', cursive;
}
#navigation-list{
    background-color: var(--darkGray);
    list-style: none;
    text-align: center;
    padding-left: 0;
    padding-top: 50px;
    margin-top: 48px;

    transform: translate(150%);
    transition: transform 0.5s ease-in-out;

}
#navigation-list li{
    letter-spacing: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}

#navigation-list li a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
#navigation-list li a:hover{
    color: var(--darkGray);
    /* background-color: var(--gold); */
}
#big-screen{
    background-color: var(--darkGray);
    padding-bottom: 5px;
}
#image-container{
    position: relative;
    max-width: 100%;
    margin-top: 48px;
    
}
#image-container img{
    animation-name: zoom1;
    animation-duration: 1s;
}
@keyframes zoom1 {
    from {transform:scale(0.5)}
    to {transform:scale(1)}
  }
#overlay{
    display: none;
}
.main-heading{
    font-family: serif;
    letter-spacing: 6px;
    color:var(--gold); 
}
#header{
    text-align: center;
    margin-top: 72px;
    animation-name: slide;
    animation-duration: 1s;
}
@keyframes slide{
    from {transform:translate(-100%)}
    to {transform:translate(0)}
}
#down-arrow{
    display: none;
}
#about-header{
    display: none;
}
#biography{
    
    text-align: justify;
    font-size: 18px;
    margin-top: 48px;
    color: var(--darkGray);
    line-height: 1.5;
    /*povecati na 24px na vecim ekranima*/
    padding-left: 12px;
    padding-right: 12px;
}
#events-container{
    margin-top: 30px;
    border-top: var(--darkGray) 2px solid;
    border-bottom: var(--darkGray) 5px solid;
    height: 500px;
}
.h2{
    font-family: serif;
    color: var(--darkGray);
    text-align: center;
}

#horizontal-scroll{
    margin-top: 100px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: fit-content;
    width: 100%;
    

    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-around;
    align-items: center; */
    align-content: space-between;
    padding-top: 5px;
    padding-bottom: 15px;
}
.event{
    flex-shrink: 0;
    min-height: fit-content;
    max-height: auto;

    background-color: white;
    color: var(--darkGray);
    text-align: center;
    padding: 30px 20px 30px 20px;
    border-radius: 20px;

    max-width: 250px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.event a{
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: var(--lightGray);
    background-color: var(--gold);
}
.event a:hover{
    color: var(--darkGray);
}
#gallery-container{
    height: 400px;
    background-color: var(--darkGray);
    padding-top: 50px;
    position: relative;
}
#gallery-header{
    margin-top: 0;
    color: var(--gold);
}
#horizontal-gallery{
    margin-top: 50px;
    overflow: auto;
    white-space: nowrap;
}
.pic{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    background-size: cover;
    opacity: 0.6;
    display: inline-block;
}
.pic:hover{
    opacity: 1;
    cursor: pointer;
}
#prev, #next{
    cursor: pointer;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    top: 200px;
    padding: 10px 20px 10px 5px;
    border-radius: 0 10px 10px 0;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
}
#next{
    right: 0;
    padding: 10px 5px 10px 20px;
    border-radius: 10px 0 0 10px;

}
#prev:hover, #next:hover{
    background-color: var(--lightGray);
}
#show-slide{
    max-width: 100%;
    max-height: 100%;
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: var(--darkGray);
    background-color: rgba(0,0,0,0.7);
    padding-top: 20px;
}
#close{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    color: var(--gold);
    cursor: pointer;
}
#show-slide-image{
    width: 100%;
    animation-name: zoom;
    animation-duration: 0.5s;
}
@keyframes zoom {
    from {transform:scale(0.5)}
    to {transform:scale(1)}
  }
#piano-container{
    text-align: center;
}
#contact{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 10px 20px 10px;
    text-align: center;
}
#contact .fa{
    font-size: 24px;
    color: var(--darkGray);
}
#contact span{
    font-size: 15px;
    color: var(--darkGray);
    margin-left: 10px;
}
#contact p{
    text-align: center;
}
#contact p .fa{
    margin-left: 10px;
    margin-right: 10px;
}
#contact p .fa:hover{
    color: var(--gold);
}
#media{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 15px;
}
#media a{
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    color: var(--darkGray);
}
#media a:hover{
    color: var(--gold);
}
footer{
    background-color: var(--darkGray);
    font-size: 15px;
    text-align: center;
}
footer a:hover{
    text-decoration: underline;
}
