*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f3f5;
}
nav{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
nav span{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    letter-spacing: 5px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #9D8A76;
    cursor: pointer;
}
nav span:hover{
    color: #E5B0A4;
}
nav ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    list-style-type: none;
    width: 40%;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline-block;
    cursor: pointer;
    color: #9D8A76;
}
nav ul li:hover{
    color: #E5B0A4;
}
#hero{
    position: relative;
    height: 100vh;
    width: 100%;
}
#hero header{
    color: /*#1F3B2C*/ #588068;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);

    font-family: 'Roboto', sans-serif;
}
#hero header h1{
    font-size: 94px;
    font-weight: lighter;
}
#hero header h3{
    margin-top: 20px;
    font-weight: 300;
}
#hero header button{
    padding: 10px 15px;
    border-radius: 100px;
    border: none;
    color: #588068;
    background-color: #e8ecf2;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(157, 138, 118, 0.3);
    cursor: pointer;

    margin-top: 20px;
}
#hero header button:hover{
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.4), 2px 2px 5px rgba(157, 138, 118, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #E5B0A4;
}
#hero-images{
    width: 40%;
    height: 60%;
    /* background-color: red; */
    z-index: 3;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.hero-img{
    width: 500px;
    height: 500px;
    position: absolute;

    border-radius: 100px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(157, 138, 118, 0.5);
}
.first-img{
    top: 0;
    right: 0;
    z-index: 2;

}
.second-img{
    bottom: 0;
    left: 0;
}